.root {
 

    background-image: url('../icons/Rectangle 14.png');
    background-size: 100% 100%;
    padding-left: 112px;
    min-height: 992px;
    width: 1440px;
    margin: 0 auto;
    transition: all 0.1s ease;
    @media (max-width: 1440px) {
      width: 100vw;
      padding-left: 6%;
      
    }
    @media (max-width: 870px) {
 
    }
  
  
}